* {
    font-family: Arial, Helvetica, sans-serif;
}

.justify-content-center {
    justify-content: space-evenly !important;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.btn {
    min-width: 100px;
    font-weight: bold;
    outline: none;
    border: 1px solid #e6c400;
}

.btn-search:hover {
    background-color: #e6c400;
}

.nav-item {
    align-self: center;
    font-size: 30px;
}

.dropdown-menu {
    background: black;
}


.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    background: white;
    color: #e6c400;
}

a {
    text-decoration: none;
}

.nav-item a {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.dropdown-menu li a {
    text-transform: capitalize;
    font-size: 24px;
}

a:hover, .fa-cart-plus:hover {
    color: #e6c400;
}


img.slide:not(:first-child) {
    display: none;
}
 
.slide {
    width: 100%;
    height: 400px;
}

.fa-cart-plus {
    cursor: pointer;
}
