<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div style="background-color: black;min-height: 230px;color: white; padding: 30px;">
    <div style="display: flex; justify-content: space-evenly;" class="row">
        <div class="col-md-3">
          <h4>THÔNG TIN CHUNG</h4>
          <ul style="list-style-type: none; padding-left: 0px" class="list-menu ">
            <li class="li-menu"><a style="color: white;" href="#" title="Trang chủ">Trang chủ</a></li>
            <li class="li-menu"><a href="#" title="Giới thiệu "></a>Giới thiệu</li>
            <li class="li-menu"><a href="#" title="Sản phẩm"></a>Tin tức-Sự kiện</li>
            <li class="li-menu"><a href="#" title="Tin mới nhất"></a>Hệ thống cửa hàng</li>
            <li class="li-menu"><a href="#" title="Câu hỏi thường gặp"></a>Câu hỏi thường gặp</li>
            <li class="li-menu"><a href="#" title="Tuyển dụng"></a>Tuyển dụng</li>
            <li class="li-menu"><a href="#" title="Liên hệ"></a>Liên hệ</li>

          </ul>
        </div>
        <div class="col-md-3">
          <h4>HỖ TRỢ KHÁCH HÀNG</h4>
          <ul style="list-style-type: none; padding-left: 0px" class="list-menu ">
            <li class="li-menu"><a style="color: white;" href="#" title="Chính sách & Quy định chung">Chính sách & Quy định chung</a></li>
            <li class="li-menu"><a href="#" title="Chính sách bảo mật thông tin khách hàng"></a>Chính sách bảo mật thông
              tin khách hàng</li>
            <li class="li-menu"><a href="#" title="Chính sách thanh toán"></a>Chính sách thanh toán</li>
            <li class="li-menu"><a href="#" title="Chính sách bảo hành"></a>Chính sách bảo hành</li>
            <li class="li-menu"><a href="#" title="Chính sách đổi trả"></a>Chính sách đổi trả</li>
            <li class="li-menu"><a href="#" title="Chính sách vận chuyển"></a>Chính sách vận chuyển</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>DANH MỤC</h4>
          <ul style="list-style-type: none; padding-left: 0px" class="list-menu ">
            <li class="li-menu"><a style="color: white;" href="#" title="Đồng hồ">Đồng hồ</a></li>
            <li class="li-menu"><a href="#" title="Dây da đồng hồ"></a>Dây da đồng hồ</li>
            <li class="li-menu"><a href="#" title="Hộp đồng hồ"></a>Hộp đồng hồ</li>
            <li class="li-menu"><a href="#" title="Đồng hồ thụy sỹ"></a>Đồng hồ thụy sỹ</li>
            <li class="li-menu"><a href="#" title="Đồng hồ nam"></a>Đồng hồ nam</li>
            <li class="li-menu"><a href="#" title="Đồng hồ nữ"></a>Đồng hồ nữ</li>
            <li class="li-menu"><a href="#" title="Đồng hồ rolex"></a>Đồng hồ rolex</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>THEO DÕI CHÚNG TÔI</h4>
          <ul style="list-style-type: none; padding-left: 0px" class="list-menu ">
            <li class="li-menu"><a style="color: white;" href="https://www.facebook.com/donghodangquang" title="Fanpage Faceboook">
                <h4><i style="margin-right: 10px; text-align: left;" class="fa-brands fa-facebook"></i>Faceboook</h4>
              </a></li>
            <li class="li-menu"><a href="https://www.youtube.com/@dangquangwatch" title="Kênh Youtube"></a>
              <h4><i style="margin-right: 10px; text-align: left;" class="fa-brands fa-youtube"></i>Youtube</h4>
            </li>
            <li class="li-menu"><a href="#" title="Chat Zalo"></a>
              <h4><i style="margin-right: 10px; text-align: left;" class="fa-brands fa-rocketchat"></i>Zalo</h4>
            </li>

          </ul>
        </div>
    </div>
</div>

